.head{
    border:solid  1px;
    
    background-color: rgba(0, 170, 255, 0.904);
   
    
}

.main{
 margin:auto;


}
*{
    margin: 0;
}
.section{
    background-color: aliceblue;
}
ul.navlist > li {
display: inline-block;
padding: 20px 11% 2px 2px;
}
ul.navlist{
   
padding-left: 0px;
background-color: #5aafec;
text-align: center;

}
.main,html{
    height: 100%;
}
.google{
    padding-left: 3%;
    padding-right: 3%;
    background-color: cadetblue;
    margin: 1% 2%;
    border-radius: 1%;
}
.bg{
    
background-color: #e6f054;

    height: 100%;
    width: 100%;
    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.flexbox {
    
    border: solid yellow 3px;
    border-radius: 2%;
    width: 65%;
    
    display: flex;
    justify-content: center;
    /*align-items: center;*/
   
}
.mainbox li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    
    
    margin-top:10%;
    margin-bottom: 10%;
    
    
    /*padding: 10% 0% 10% 0%;*/
    font-family: cursive;
    font-size: 120%;
}
.boxone{
    
    margin-top:10%;
    margin-bottom: 10%;
    
    
    /*padding: 10% 0% 10% 0%;*/
    font-family: cursive;
    font-size: 118%;
}
.boxtwo{
   
    margin-top:10%;
    margin-bottom: 10%;
    
    
    /*padding: 10% 0% 10% 0%;*/
    font-family: cursive;
    font-size: 125%;
}
